In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [2]:

string_variable = "Good job, Bobby"
list_variable = [1, 2, 3, "Pintu", 7.0, 7+5j]
float_variable = 5.6
tuple_variable = (1, 2, 3, "Pintu", 3.9)

In [3]:
string_variable

'Good job, Bobby'

In [4]:
list_variable

[1, 2, 3, 'Pintu', 7.0, (7+5j)]

In [5]:
float_variable

5.6

In [6]:
tuple_variable

(1, 2, 3, 'Pintu', 3.9)

In [7]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [11]:

 var1 = ' '
 var2 = '[ DS , ML , Python]'
 var3 = [ 'DS' , 'ML' , 'Python' ]
 var4 = 1.

In [12]:
print(type(var1))

<class 'str'>

In [13]:
print(type(var2))

<class 'str'>

In [14]:
print(type(var3))

<class 'list'>

In [15]:
print(type(var4))

<class 'float'>

In [16]:
# Q3. Explain the use of the following operators using an example in python
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [17]:
# Division using /
a = 6
b = 3
c = a / b
print(c)

# Modulo using %
c = a % b
print(c)
# Floor division using //
c = a // b
print(c)    

# Exponentiation using **
c = a ** b
print(c)

2.0
0
2
216

In [18]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [21]:
a = [5, 5.6, 5+6j, True, "Pintu", [1,2,3], {"name":"Pintu", "Age":28},(5,6),"900", "Make Odisha Great Again"]
for i in a:
    print(i, type(i))

5 <class 'int'>
5.6 <class 'float'>
(5+6j) <class 'complex'>
True <class 'bool'>
Pintu <class 'str'>
[1, 2, 3] <class 'list'>
{'name': 'Pintu', 'Age': 28} <class 'dict'>
(5, 6) <class 'tuple'>
900 <class 'str'>
Make Odisha Great Again <class 'str'>

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [5]:
a = int(input())
b = int(input())

count = 0
while a % b == 0:
    count = count + 1
    a /= b

if count > 0:
    print(f"{a} is divisible by {b} {count} times")
else:
    print(f"{a} is not divisible by {b}")

 25
 5

1.0 is divisible by 5 2 times

In [ ]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in a:
    if i % 3 == 0:
        print("Yes it is divisible by 3")
    else:
        print( "NO, It is not divisible by 3")

NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3
NO, It is not divisible by 3
Yes it is divisible by 3
NO, It is not divisible by 3

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [ ]:
# mutable data types are the ones that can be modified after they are created, while immutable data types cannot be changed once created.
# Examples of mutable data types in Python include lists, dictionaries, and sets.On the other hand, examples of immutable data types include strings, tuples, and numbers.

#mutable

In [6]:
a = [1,2,3]

In [7]:
a.append(4)

In [8]:
a

[1, 2, 3, 4]

#immutable

In [9]:
b ="pintu"

In [10]:
b

'pintu'

In [11]:
b.append(Y)

AttributeError: 'str' object has no attribute 'append'

In [12]:
#we have to do it by creating a new string

In [13]:
c = "Pintu"

In [16]:
b = "Pintu"
b1 = b.repalce("u","o")
print(b)
print(b1)

AttributeError: 'str' object has no attribute 'repalce'

In [15]:
my_string = "hello"
new_string = my_string.replace("o", "a")
print(my_string)   
print(new_string)

hello
hella